/*// X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .h1-infa{
    font-size: 150%;
  }
  .h1-f{
  font-size: 25px;
  }
  .bt-sub{
    font-size: 10px;
  }
  .h1-sub{
  font-size: 25px;
  }

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*// Medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {
  .h1-infa{
    font-size: 60px;
  }
  .h1-f{
  font-size: 75px;
  padding-bottom: 15px;
  }
  .bt-sub{
    font-size: 25px;
  }
  .h1-tit{
    font-size:70px;
  }
  .p-tit{
  font-size: 25px;
  }
  .p-text{
font-size: 20px;
  }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

/*// X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { ... }

/* Style the tab buttons */
.tablink {
  background-color: #350606;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color:#8a0505;
}

/* Set default styles for tab content */
.tabcontent {
  color:#061c2a;
  display: none;
  padding: 25px;
  text-align: center;
}

/* Style each tab content individually */
#London {background-color:#061c2a;}
#Paris {background-color:#b05952;}
#Tokyo {background-color:#54374e;}
#Oslo {background-color:orange;}


/*main image text*/

/*@media screen and (min-width: 800px){
  .kd{
    font-size: 500%;
  }
}
@media screen and (max-width:500px){
.kd {
  font-size:120%;
}
}
@media screen and (min-width: 800px){
  .ke{
    font-size: 200%;
  }
}
@media screen and (max-width:500px){
.ke {
  font-size:50%;
}
}
@media screen and (max-width:500px){
.ke1 {
  width: 75%;
  font-size: 60%

}
}
/main imagete*/xt*/*/



/*titlt readmore button*/
#more{
  display: none;
}
/*/title readmore button*/



/*portfolio img gril*/
.prow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.pcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.pcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .pcolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .pcolumn {
    flex: 100%;
    max-width: 100%;
  }
}


/* photo zoom*/

.prow:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modalport {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modalport-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.closeport {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closeport:hover,
.closeport:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.mySlidesport {
  display: none;
}

.cursorport {
  cursor: pointer;

}

/* Next & previous buttons */
.prevport,
.nextport {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-left: -150px;
}

/* Position the "next button" to the right */
.nextport {
  right: 0;
  border-radius: 3px 0 0 3px;
  float: right;
}
.prevport{
  left:150px;
  float: left;
}


/* On hover, add a black background color with a little bit see-through */
.prevport:hover,
.nextport:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertextport {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*img {*/
  /*margin-bottom: -4px;*/
}

.captionport-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demoport {
  opacity: 0.6;
  width: 25%;
}

.active,
.demoport:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portcolumn{
  float: left;
  width: 25%;
}
/*contact*/

.tcolor{
  text-align:left;
}